%h1
  About Matt

%h3
  Backend Software Engineer experienced with Rails, Javascript,  iOS, PostgreSQL. Interested in web development, data science, application and network optimization. I understand the importance of communication within a team and consistently practice giving and receiving actionable, kind, and specific feedback. With my skill set, I am looking to solve modern problems with technology.