%h1
  Contact Matt

%h5
  = link_to "Linkedin", 'https://www.linkedin.com/in/matt-harris-b685b182'
  = link_to "Github", 'https://github.com/matrharr'
  = link_to "Facebook", 'https://www.facebook.com/matt.harris.5473'