#welcome_message
  %h1
    Welcome!
  %h5
    I am a software engineer, interested in all things technology. Check out my tech blog for the latest thing I found intriguing or browse my recommendations to find cool and interesting stuff on the web. Feel free to contact me, I'm always down to talk!

#latest_blog
  %h3
    %a{href: bigonotation_path}
      Latest Blog
  %h5
    The eighth week at DBC introduced data schemas and basic SQL commands. We covered relational database concepts and practiced a handful of ways to display and calculate information from tables. It seems like there are a lot of interesting potential things that can be done with data bases and I've talked to several people in tech that all echo the same view that data science is becoming more and more important in today's tech world.

#latest_recommended
  %h3
    %a{href: recommended_path}
      Recommended
  %h5
    Eloquent Javascript
    %br
    The writing style of this book is just excellent. The language is fluid and, I can't believe I'm saying this about a programming language book, enjoyable. There is something about the writing that is a pleasure to read--I wish I could write like this! The examples are quirky and interesting, enough to get you interested in actually solving them and understanding the solutions presented in the book. I've had a very limited understanding of JavaScript in my previous copy and paste uses of it. I felt like I really started to understand it after just a few chapters.
