%h1
  Matt's Projects

%h4
  = link_to 'Firs+Aid', 'https://github.com/toddseller/first-aid'
  = link_to 'Foundit', 'https://github.com/matrharr/LostAndFound'
  = link_to 'Schwarzefaker', 'https://rubygems.org/gems/schwarzefaker'

